In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:addyourpassword@localhost:XYZ/global_superstore

Connecting to 'mysql+pymysql://root:***@localhost:3306/global_superstore'

Let have a preview of our data

In [4]:
%%sql
SELECT
*
FROM
Superstore
LIMIT 4;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

4 rows affected.

+--------+----------------+------------+------------+----------------+-------------+----------------+----------+---------------+------------------+----------+-------------+--------+--------+-----------------+-----------------+--------------+------------------------------------+---------+----------+----------+----------+---------------+----------------+--------------+
| Row_ID |    Order_ID    | Order_Date | Ship_Date  |   Ship_Mode    | Customer_ID | Customer_Name  | Segment  |      City     |      State       | Country  | Postal_Code | Market | Region |    Product_ID   |     Category    | Sub_Category |            Product_Name            |  Sales  | Quantity | Discount |  Profit  | Shipping_Cost | Order_Priority | product_type |
+--------+----------------+------------+------------+----------------+-------------+----------------+----------+---------------+------------------+----------+-------------+--------+--------+-----------------+-----------------+--------------+------------------------------------+---------+----------+----------+----------+---------------+----------------+--------------+
|   1    | MX-2014-143658 | 2014-10-02 | 2014-10-06 | Standard Class |   SC-20575  |  Sonia Cooley  | Consumer |  Mexico City  | Distrito Federal |  Mexico  |             | LATAM  | North  | OFF-LA-10002782 | Office Supplies |    Labels    | Hon File Folder Labels, Adjustable |  13.080 |    3     |   0.00   | 4.56000  |    1.03000    |        Medium
         |  Adjustable  |
|   2    | MX-2012-155047 | 2012-10-15 | 2012-10-20 | Standard Class |   KW-16570  | Kelly Williams | Consumer | Dos Quebradas |    Risaralda     | Colombia |             | LATAM  | South  | FUR-FU-10004015 |    Furniture    | Furnishings  |        Tenex Clock, Durable        | 252.160 |    8     |   0.00   | 90.72000 |    13.45000   |        Medium
         |   Durable    |
|   3    | MX-2012-155047 | 2012-10-15 | 2012-10-20 | Standard Class |   KW-16570  | Kelly Williams | Consumer | Dos Quebradas |    Risaralda     | Colombia |             | LATAM  | South  | FUR-BO-10002352 |    Furniture    |  Bookcases   |    Ikea 3-Shelf Cabinet, Mobile    | 193.280 |    2     |   0.00   | 54.08000 |    9.63000    |        Medium
         |    Mobile    |
|   4    | MX-2012-155047 | 2012-10-15 | 2012-10-20 | Standard Class |   KW-16570  | Kelly Williams | Consumer | Dos Quebradas |    Risaralda     | Colombia |             | LATAM  | South  | OFF-BI-10004428 | Office Supplies |   Binders    |       Cardinal Binder, Clear       |  35.440 |    4     |   0.00   | 4.96000  |    1.37000    |        Medium
         |    Clear     |
+--------+----------------+------------+------------+----------------+-------------+----------------+----------+---------------+------------------+----------+-------------+--------+--------+-----------------+-----------------+--------------+------------------------------------+---------+----------+----------+----------+---------------+----------------+--------------+

In [6]:
%%sql
SELECT
*
FROM
Superstore
WHERE Product_name LIKE ("%Tenex Clock%")
    OR Product_name LIKE("%Sanford Canvas%")
LIMIT 4;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

4 rows affected.

+--------+----------------+------------+------------+----------------+-------------+----------------+-----------+---------------+------------+----------+-------------+--------+-----------+-----------------+-----------------+--------------+-----------------------------+---------+----------+----------+-----------+---------------+----------------+
| Row_ID |    Order_ID    | Order_Date | Ship_Date  |   Ship_Mode    | Customer_ID | Customer_Name  |  Segment  |      City     |   State    | Country  | Postal_Code | Market |   Region  |    Product_ID   |     Category    | Sub_Category |         Product_Name        |  Sales  | Quantity | Discount |   Profit  | Shipping_Cost | Order_Priority |
+--------+----------------+------------+------------+----------------+-------------+----------------+-----------+---------------+------------+----------+-------------+--------+-----------+-----------------+-----------------+--------------+-----------------------------+---------+----------+----------+-----------+---------------+----------------+
|   2    | MX-2012-155047 | 2012-10-15 | 2012-10-20 | Standard Class |   KW-16570  | Kelly Williams |  Consumer | Dos Quebradas | Risaralda  | Colombia |             | LATAM  |   South   | FUR-FU-10004015 |    Furniture    | Furnishings  |     Tenex Clock, Durable    | 252.160 |    8     |   0.00   |  90.72000 |    13.45000   |        Medium
         |
|   5    | MX-2012-155047 | 2012-10-15 | 2012-10-20 | Standard Class |   KW-16570  | Kelly Williams |  Consumer | Dos Quebradas | Risaralda  | Colombia |             | LATAM  |   South   | OFF-AR-10004594 | Office Supplies |     Art      | Sanford Canvas, Water Color |  71.600 |    2     |   0.00   |  11.44000 |    3.79000    |        Medium
         |
|  160   | MX-2014-133053 | 2014-12-18 | 2014-12-20 |  Second Class  |   GP-14740  |  Guy Phonely   | Corporate |   Cienfuegos  | Cienfuegos |   Cuba   |             | LATAM  | Caribbean | OFF-AR-10001694 | Office Supplies |     Art      |     Sanford Canvas, Blue    | 168.400 |    5     |   0.00   |  3.30000  |    24.44000   |        High
         |
|  384   | US-2012-148425 | 2012-06-21 | 2012-06-28 | Standard Class |   AB-10105  | Adrian Barton  |  Consumer |      Puno     |    Puno    |   Peru   |             | LATAM  |   South   | OFF-AR-10002335 | Office Supplies |     Art      | Sanford Canvas, Fluorescent |  62.136 |    3     |   0.40   | -39.38400 |    9.05000    |        Low
         |
+--------+----------------+------------+------------+----------------+-------------+----------------+-----------+---------------+------------+----------+-------------+--------+-----------+-----------------+-----------------+--------------+-----------------------------+---------+----------+----------+-----------+---------------+----------------+

From what we can see under the product name, there is a product type at the end separated by comma, we have to split these two by creating a new column

Let create a column of where we will keep the data

In [36]:
%%sql
ALTER TABLE Superstore
ADD COLUMN product_type VARCHAR(40);--we will keep the product type in this new column--

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

RuntimeError: (pymysql.err.OperationalError) (1060, "Duplicate column name 'product_type'")
[SQL: ALTER TABLE Superstore
ADD COLUMN product_type VARCHAR(40);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [5]:
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

In [42]:
%%sql
UPDATE superstore
SET Product_type= 
    CASE 
    WHEN Product_name LIKE "%,%" THEN TRIM(SUBSTRING_INDEX(Product_name, ',', -1))
         ELSE NULL
    END;-- this one will look for the string that comes after , and we will set it in the new product type column--

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

51290 rows affected.

++
||
++
++

In [33]:
%%sql
ALTER TABLE Superstore
ADD COLUMN product VARCHAR(160);

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

++
||
++
++

In [34]:
%%sql
UPDATE superstore
SET Product= 
    CASE 
    WHEN Product_name LIKE "%,%" THEN TRIM(SUBSTRING_INDEX(Product_name, ',', 1))
         ELSE NULL
    END;;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

51290 rows affected.

RuntimeError: (pymysql.err.OperationalError) (1065, 'Query was empty')
[SQL: ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Let check for duplicates

In [6]:
%%sql
SELECT
Order_ID,
Order_Date,
Ship_Date,
Ship_Mode,
Customer_ID,
Customer_Name,
Segment,
City,
State,
Country,
Postal_Code,
Market,
Region,
COUNT(*) AS duplicate_count
FROM 
superstore
GROUP BY Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,City,State,Country,Postal_Code,Market,Region,Product_Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order_Priority
HAVING COUNT(*)>1
ORDER BY duplicate_count DESC
LIMIT 3;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

+----------+------------+-----------+-----------+-------------+---------------+---------+------+-------+---------+-------------+--------+--------+-----------------+
| Order_ID | Order_Date | Ship_Date | Ship_Mode | Customer_ID | Customer_Name | Segment | City | State | Country | Postal_Code | Market | Region | duplicate_count |
+----------+------------+-----------+-----------+-------------+---------------+---------+------+-------+---------+-------------+--------+--------+-----------------+
+----------+------------+-----------+-----------+-------------+---------------+---------+------+-------+---------+-------------+--------+--------+-----------------+

As we can see there are no duplicate entries in our table so let proceed

LET CREATE TABLES THAT WILL HELP US IN DATA MODELING

Let create new tables, that we will use to store different sales details.

1. Products table

In [36]:
%%sql
CREATE TABLE Product(
    Product_ID VARCHAR(20) PRIMARY KEY,
    Product_name VARCHAR(160),
    Product VARCHAR(80),
    Product_type VARCHAR(80),
    Category VARCHAR(50),
    Sub_category VARCHAR(50)
    )
;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

++
||
++
++

Let populate this table

In [45]:
%%sql
INSERT INTO product (
    product_id,
    product_name,
    category,
    sub_category,
    product,
    product_type
)
SELECT
    s.Product_ID,
    MAX(s.Product_Name)  AS product_name, --collapses attribute variations
    MAX(s.Category)      AS category,
    MAX(s.Sub_Category)  AS sub_category,
    MAX(s.product)       AS product,
    MAX(s.product_type)  AS product_type
FROM Superstore s
LEFT JOIN product p --prevents re-inserts
    ON s.Product_ID = p.product_id
WHERE s.Product_ID IS NOT NULL
  AND p.product_id IS NULL
GROUP BY s.Product_ID; --1 row per product

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

++
||
++
++

2. Customer table

In [47]:
%%sql
CREATE TABLE Customer (
    customer_id VARCHAR(30) PRIMARY KEY,
    customer_name VARCHAR(100),
    segment VARCHAR(50)
);

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

++
||
++
++

Let populate this

In [46]:
%%sql
INSERT INTO Customer(Customer_id,Customer_name,segment)
SELECT DISTINCT
    Customer_id,
    customer_name,
    segment
FROM Superstore;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

1590 rows affected.

++
||
++
++

3. Location Table

In [48]:
%%sql 
CREATE TABLE Location(
location_id VARCHAR(15) AUTO INCREMENT Primary Key,
city VARCHAR(20),
state VARCHAR(20),
country VARCHAR(20),
postal_code INT,
market VARCHAR(20),
region VARCHAR(20)
)
;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

RuntimeError: (pymysql.err.OperationalError) (1050, "Table 'location' already exists")
[SQL: CREATE TABLE Location(
location_id VARCHAR(15) Primary Key,
city VARCHAR(20),
state VARCHAR(20),
country VARCHAR(20),
postal_code INT,
market VARCHAR(20),
region VARCHAR(20)
)
;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [52]:
%%sql
INSERT INTO Location(city,state,country,postal_code,market,region)
SELECT DISTINCT
city,
state,
country,
postal_code,
market,
region
FROM
superstore;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

3847 rows affected.

++
||
++
++

4. Date table

In [9]:
%%sql
CREATE TABLE Date(
date_id DATE Primary Key,
year INT,
quarter VARCHAR(10),
month INT,
month_name VARCHAR(10),
day VARCHAR(10)
)
;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

++
||
++
++

let populate the date table with data from ship date and order date columns from superstore table

In [18]:
%%sql
INSERT INTO date (date_id, year, quarter, month, month_name, day, day_of_week)
SELECT DISTINCT
    Order_Date AS date_id,
    YEAR(Order_Date),
    QUARTER(Order_Date),
    MONTH(Order_Date),
    MONTHNAME(Order_Date),
    DAY(Order_Date),
    DAYNAME(Order_Date)
FROM superstore
WHERE Order_Date IS NOT NULL;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

1430 rows affected.

++
||
++
++

In [19]:
%%sql
INSERT IGNORE INTO date (date_id, year, quarter, month, month_name, day, day_of_week) --this IGNORE will help us to skip any existing data hence preventing the duplicates in our table
SELECT DISTINCT
    Ship_Date AS date_id,
    YEAR(Ship_Date),
    QUARTER(Ship_Date),
    MONTH(Ship_Date),
    MONTHNAME(Ship_Date),
    DAY(Ship_Date),
    DAYNAME(Ship_Date)
FROM superstore
WHERE Ship_Date IS NOT NULL;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

38 rows affected.

++
||
++
++

5. Shipping Table

In [10]:
%%sql
CREATE TABLE Shipping(
ship_mode_id VARCHAR(10) AUTO INCREMENT Primary Key,
ship_mode VARCHAR(20)
)
;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

++
||
++
++

In [ ]:
Let populate this table

In [53]:
%%sql
INSERT INTO shipping(ship_mode)
SELECT DISTINCT 
ship_mode
FROM
superstore;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

4 rows affected.

++
||
++
++

6. Fact table

this table will syore measurable business events

In [16]:
%%sql
CREATE TABLE fact_sales (
    sales_id INT AUTO_INCREMENT PRIMARY KEY,
    order_id VARCHAR(20) NOT NULL,
    customer_id VARCHAR(20) NOT NULL,
    product_id VARCHAR(20) NOT NULL,
    location_id INT NOT NULL,
    order_date_id DATE NOT NULL,
    ship_date_id DATE NOT NULL,
    ship_mode_id INT NOT NULL,
    sales DECIMAL(10,3) NOT NULL,
    quantity INT NOT NULL,
    discount DECIMAL(4,2) NOT NULL,
    profit DECIMAL(10,5) NOT NULL,
    shipping_cost DECIMAL(10,5) NOT NULL,
    order_priority VARCHAR(20),

    --constraints
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id),
    FOREIGN KEY (product_id) REFERENCES product(product_id),
    FOREIGN KEY (location_id) REFERENCES location(location_id),
    FOREIGN KEY (order_date_id) REFERENCES date(date_id),
    FOREIGN KEY (ship_date_id) REFERENCES date(date_id),
    FOREIGN KEY (ship_mode_id) REFERENCES shipping(ship_mode_id)
);

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

++
||
++
++

Let populate the fact table

In [56]:
%%sql
INSERT INTO Fact_sales(
order_id ,
customer_id ,
product_id ,
location_id ,
order_date_id ,
ship_date_id  ,
ship_mode_id ,
sales ,
quantity ,
discount ,
profit ,
shipping_cost ,
order_priority)
SELECT
    ss.Order_ID,
    ss.Customer_ID,
    ss.Product_ID,
    l.location_id,
    ss.Order_Date,
    ss.Ship_Date,
    s.ship_mode_id,
    ss.Sales,
    ss.Quantity,
    ss.Discount,
    ss.Profit,
    ss.Shipping_Cost,
    ss.Order_Priority
FROM superstore ss
JOIN customer c
    ON ss.Customer_ID = c.customer_id
JOIN product p
    ON ss.Product_ID = p.product_id
JOIN location l
    ON ss.City = l.city
   AND ss.Country = l.country
   AND (ss.State = l.state OR ss.State IS NULL)
JOIN shipping s
    ON ss.Ship_Mode = s.ship_mode
JOIN date d
    ON ss.Order_Date = d.date_id
JOIN date dd
    ON ss.Ship_Date = dd.date_id;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

64362 rows affected.

++
||
++
++

In [62]:
%%sql
SELECT COUNT(*) FROM superstore;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

1 rows affected.

+----------+
| COUNT(*) |
+----------+
|  51290   |
+----------+

In [61]:
%%sql
SELECT COUNT(*) FROM fact_sales;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

1 rows affected.

+----------+
| COUNT(*) |
+----------+
|  64362   |
+----------+

The fact_sales has more rows than our original table(superstore), this signals that there are duplicates created hence resulting in extra columns,let look on how we can spot the issue
the issue remains but the number is decreasing, let look for another source of the issue
||Now:
rows in superstore=51290
rows in fact_sales=64362

Let start by checking duplicates in location table

In [63]:
%%sql
SELECT 
    city,
    state,
    country,
    COUNT(*) AS cnt
FROM location
GROUP BY city, state, country
HAVING cnt > 1;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

18 rows affected.

+---------------+---------------+---------------+-----+
|      city     |     state     |    country    | cnt |
+---------------+---------------+---------------+-----+
|     Vienna    |     Vienna    |    Austria    |  2  |
|      Linz     | Upper Austria |    Austria    |  2  |
|    Salzburg   |    Salzburg   |    Austria    |  2  |
|      Graz     |     Styria    |    Austria    |  2  |
|   Innsbruck   |     Tyrol     |    Austria    |  2  |
|   Klagenfurt  |   Carinthia   |    Austria    |  2  |
|   Ulan Bator  |  Ulaanbaatar  |    Mongolia   |  2  |
|  Los Angeles  |   California  | United States |  6  |
|    Seattle    |   Washington  | United States |  3  |
| San Francisco |   California  | United States |  3  |
|  Philadelphia |  Pennsylvania | United States |  4  |
|    Houston    |     Texas     | United States |  4  |
| New York City |    New York   | United States |  4  |
|    Chicago    |    Illinois   | United States |  3  |
|     Dallas    |     Texas     | United States |  3  |
|    Detroit    |    Michigan   | United States |  3  |
|   San Diego   |   California  | United States |  3  |
|     Miami     |    Florida    | United States |  3  |
+---------------+---------------+---------------+-----+

those are duplicates

In [70]:
%%sql
SELECT ss.Row_ID, COUNT(*) AS join_count
FROM superstore ss
JOIN location l
  ON ss.City = l.city
 AND ss.Country = l.country
GROUP BY ss.Row_ID
HAVING join_count > 1
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

10 rows affected.

+--------+------------+
| Row_ID | join_count |
+--------+------------+
| 10370  |     2      |
| 10371  |     2      |
| 10372  |     2      |
| 10582  |     2      |
| 10623  |     2      |
| 10692  |     2      |
| 10693  |     2      |
| 10702  |     2      |
| 10788  |     2      |
| 10919  |     2      |
+--------+------------+

ALL THE ABOVE QUERRIES RETURNING THOSE ID MEANS each one is being duplicated

LET FIX THESE ISSUES

In [ ]:
%%sql
ALTER TABLE location
ADD CONSTRAINT un_location
UNIQUE (city, state, country, postal_code, market, region);--Enforce Uniqueness

In [78]:
%%sql
TRUNCATE TABLE Fact_sales;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

++
||
++
++

In [83]:
%%sql
INSERT INTO fact_sales (
    order_id,
    customer_id,
    product_id,
    location_id,
    order_date_id,
    ship_date_id,
    ship_mode_id,
    sales,
    quantity,
    discount,
    profit,
    shipping_cost,
    order_priority
)
SELECT
    ss.Order_ID,
    ss.Customer_ID,
    ss.Product_ID,
    l.location_id,
    ss.Order_Date,
    ss.Ship_Date,
    sh.ship_mode_id,
    ss.Sales,
    ss.Quantity,
    ss.Discount,
    ss.Profit,
    ss.Shipping_Cost,
    ss.Order_Priority
FROM superstore ss
JOIN customer c
    ON ss.Customer_ID = c.customer_id
JOIN product p
    ON ss.Product_ID = p.product_id
JOIN location l
    ON ss.City = l.city
   AND ss.Country = l.country
   AND ss.State = l.state
   AND (ss.Postal_Code = l.postal_code OR ss.Postal_Code IS NULL)--a fix was made on the location join
JOIN shipping sh
    ON ss.Ship_Mode = sh.ship_mode
JOIN date d
    ON ss.Order_Date = d.date_id
JOIN date dd
    ON ss.Ship_Date = dd.date_id;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

51638 rows affected.

++
||
++
++

In [81]:
%%sql
SELECT COUNT(*) FROM superstore;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

1 rows affected.

+----------+
| COUNT(*) |
+----------+
|  51290   |
+----------+

In [82]:
%%sql
SELECT COUNT(*) FROM fact_sales;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

1 rows affected.

+----------+
| COUNT(*) |
+----------+
|  51638   |
+----------+

the issue remains but the number is decreasing, let look for another source of the issue
||Now:
rows in superstore=51290
rows in superstore=51638

In [84]:
%%sql
SELECT ss.Row_ID, COUNT(*) AS matches
FROM superstore ss
JOIN location l
  ON ss.City = l.city
 AND ss.Country = l.country
 AND ss.State = l.state
GROUP BY ss.Row_ID
HAVING COUNT(*) > 1;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

4675 rows affected.

+--------+---------+
| Row_ID | matches |
+--------+---------+
| 10370  |    2    |
| 10371  |    2    |
| 10372  |    2    |
| 10582  |    2    |
| 10692  |    2    |
| 10693  |    2    |
| 10702  |    2    |
| 10788  |    2    |
| 10919  |    2    |
| 10963  |    2    |
| 11211  |    2    |
| 11212  |    2    |
| 11315  |    2    |
| 11343  |    2    |
| 11344  |    2    |
| 11597  |    2    |
| 11656  |    2    |
| 11717  |    2    |
| 11750  |    2    |
| 11771  |    2    |
| 11787  |    2    |
| 11800  |    2    |
| 11807  |    2    |
| 12035  |    2    |
| 12036  |    2    |
| 12037  |    2    |
| 12099  |    2    |
| 12239  |    2    |
| 12240  |    2    |
| 12645  |    2    |
| 12727  |    2    |
| 12764  |    2    |
| 12788  |    2    |
| 12829  |    2    |
| 12830  |    2    |
| 12831  |    2    |
| 12840  |    2    |
| 12906  |    2    |
| 12947  |    2    |
| 13138  |    2    |
| 13139  |    2    |
| 13140  |    2    |
| 13141  |    2    |
| 13142  |    2    |
| 13195  |    2    |
| 13237  |    2    |
| 13238  |    2    |
| 13239  |    2    |
| 13240  |    2    |
| 13241  |    2    |
| 13242  |    2    |
| 13300  |    2    |
| 13327  |    2    |
| 13353  |    2    |
| 13354  |    2    |
| 13362  |    2    |
| 13371  |    2    |
| 13403  |    2    |
| 13404  |    2    |
| 13405  |    2    |
| 13483  |    2    |
| 13484  |    2    |
| 13516  |    2    |
| 13520  |    2    |
| 13521  |    2    |
| 13522  |    2    |
| 13707  |    2    |
| 13708  |    2    |
| 13709  |    2    |
| 13854  |    2    |
| 14024  |    2    |
| 14025  |    2    |
| 14026  |    2    |
| 14157  |    2    |
| 14158  |    2    |
| 14273  |    2    |
| 14274  |    2    |
| 14275  |    2    |
| 14276  |    2    |
| 14277  |    2    |
| 14278  |    2    |
| 14279  |    2    |
| 14297  |    2    |
| 14298  |    2    |
| 14299  |    2    |
| 14325  |    2    |
| 14331  |    2    |
| 14332  |    2    |
| 14407  |    2    |
| 14503  |    2    |
| 14504  |    2    |
| 14505  |    2    |
| 14571  |    2    |
| 14572  |    2    |
| 14578  |    2    |
| 14579  |    2    |
| 14716  |    2    |
| 14717  |    2    |
| 14718  |    2    |
| 14719  |    2    |
| 14778  |    2    |
| 14781  |    2    |
| 14827  |    2    |
| 14828  |    2    |
| 14881  |    2    |
| 15030  |    2    |
| 15031  |    2    |
| 15119  |    2    |
| 15148  |    2    |
| 15280  |    2    |
| 15281  |    2    |
| 15282  |    2    |
| 15339  |    2    |
| 15340  |    2    |
| 15341  |    2    |
| 15391  |    2    |
| 15465  |    2    |
| 15607  |    2    |
| 15656  |    2    |
| 15657  |    2    |
| 15694  |    2    |
| 15695  |    2    |
| 15742  |    2    |
| 15827  |    2    |
| 15828  |    2    |
| 15829  |    2    |
| 15830  |    2    |
| 15831  |    2    |
| 15934  |    2    |
| 15935  |    2    |
| 15936  |    2    |
| 15937  |    2    |
| 15938  |    2    |
| 16037  |    2    |
| 16038  |    2    |
| 16039  |    2    |
| 16040  |    2    |
| 16041  |    2    |
| 16042  |    2    |
| 16043  |    2    |
| 16119  |    2    |
| 16120  |    2    |
| 16145  |    2    |
| 16370  |    2    |
| 16462  |    2    |
| 16468  |    2    |
| 16487  |    2    |
| 16545  |    2    |
| 16579  |    2    |
| 16632  |    2    |
| 16633  |    2    |
| 16634  |    2    |
| 16663  |    2    |
| 16705  |    2    |
| 16706  |    2    |
| 16707  |    2    |
| 16708  |    2    |
| 16709  |    2    |
| 16758  |    2    |
| 16759  |    2    |
| 16760  |    2    |
| 16761  |    2    |
| 16825  |    2    |
| 16826  |    2    |
| 16827  |    2    |
| 16904  |    2    |
| 16923  |    2    |
| 16950  |    2    |
| 16951  |    2    |
| 17041  |    2    |
| 17042  |    2    |
| 17076  |    2    |
| 17139  |    2    |
| 17230  |    2    |
| 17272  |    2    |
| 17273  |    2    |
| 17380  |    2    |
| 17396  |    2    |
| 17458  |    2    |
| 17459  |    2    |
| 17460  |    2    |
| 17461  |    2    |
| 17587  |    2    |
| 17588  |    2    |
| 17596  |    2    |
| 17637  |    2    |
| 17638  |    2    |
| 17746  |    2    |
| 17747  |    2    |
| 18032  |    2    |
| 18033  |    2    |
| 18239  |    2    |
| 18313  |    2    |
| 18314  |    2    |
| 18330  |    2    |
| 18331  |    2    |
| 18332  |    2    |
| 18356  |    2    |
| 18357  |    2    |
| 18436  |    2    |
| 18437  |    2    |
| 18576  |    2    |
| 18651  |    2    |
| 18670  |    2    |
| 18680  |    2    |
| 18681  |    2    |
| 18724  |    2    |
| 18778  |    2    |
| 18779  |    2    |
| 18780  |    2    |
| 18864  |    2    |
| 18985  |    2    |
| 18986  |    2    |
| 18987  |    2    |
| 18988  |    2    |
| 19002  |    2    |
| 19003  |    2    |
| 19004  |    2    |
| 19036  |    2    |
| 19039  |    2    |
| 19040  |    2    |
| 19041  |    2    |
| 19042  |    2    |
| 19060  |    2    |
| 19061  |    2    |
| 19062  |    2    |
| 19139  |    2    |
| 19140  |    2    |
| 19410  |    2    |
| 19411  |    2    |
| 19418  |    2    |
| 19419  |    2    |
| 19505  |    2    |
| 19568  |    2    |
| 19569  |    2    |
| 19711  |    2    |
| 19712  |    2    |
| 19718  |    2    |
| 19746  |    2    |
| 19865  |    2    |
| 19889  |    2    |
| 20100  |    2    |
| 20101  |    2    |
| 20102  |    2    |
| 20103  |    2    |
| 20104  |    2    |
| 20105  |    2    |
| 20186  |    2    |
| 20232  |    2    |
| 20233  |    2    |
| 20234  |    2    |
| 20235  |    2    |
| 21909  |    2    |
| 31299  |    6    |
| 31302  |    6    |
| 31303  |    6    |
| 31304  |    6    |
| 31305  |    6    |
| 31306  |    6    |
| 31307  |    6    |
| 31308  |    6    |
| 31310  |    3    |
| 31315  |    3    |
| 31316  |    3    |
| 31317  |    3    |
| 31320  |    4    |
| 31322  |    6    |
| 31323  |    6    |
| 31324  |    4    |
| 31325  |    4    |
| 31326  |    4    |
| 31327  |    4    |
| 31328  |    4    |
| 31329  |    4    |
| 31330  |    4    |
| 31331  |    4    |
| 31334  |    4    |
| 31335  |    4    |
| 31336  |    4    |
| 31337  |    4    |
| 31339  |    6    |
| 31350  |    4    |
| 31351  |    4    |
| 31359  |    6    |
| 31360  |    6    |
| 31361  |    6    |
| 31362  |    6    |
| 31363  |    3    |
| 31367  |    4    |
| 31372  |    4    |
| 31373  |    4    |
| 31374  |    4    |
| 31375  |    4    |
| 31378  |    3    |
| 31379  |    3    |
| 31381  |    3    |
| 31385  |    4    |
| 31386  |    6    |
| 31387  |    6    |
| 31388  |    6    |
| 31393  |    4    |
| 31394  |    3    |
| 31396  |    3    |
| 31397  |    3    |
| 31398  |    3    |
| 31407  |    4    |
| 31414  |    3    |
| 31421  |    4    |
| 31425  |    6    |
| 31426  |    6    |
| 31437  |    4    |
| 31438  |    3    |
| 31439  |    3    |
| 31440  |    3    |
| 31453  |    3    |
| 31454  |    3    |
| 31457  |    6    |
| 31458  |    4    |
| 31460  |    3    |
| 31468  |    6    |
| 31469  |    6    |
| 31470  |    6    |
| 31471  |    3    |
| 31472  |    3    |
| 31473  |    4    |
| 31476  |    4    |
| 31483  |    6    |
| 31486  |    4    |
| 31487  |    4    |
| 31488  |    4    |
| 31489  |    4    |
| 31490  |    4    |
| 31495  |    4    |
| 31496  |    4    |
| 31500  |    3    |
| 31508  |    3    |
| 31514  |    6    |
| 31515  |    6    |
| 31522  |    3    |
| 31523  |    3    |
| 31524  |    3    |
| 31534  |    3    |
| 31535  |    3    |
| 31536  |    3    |
| 31537  |    3    |
| 31538  |    3    |
| 31539  |    3    |
| 31540  |    3    |
| 31546  |    3    |
| 31547  |    3    |
| 31548  |    3    |
| 31549  |    4    |
| 31550  |    4    |
| 31551  |    3    |
| 31552  |    3    |
| 31553  |    3    |
| 31554  |    3    |
| 31555  |    4    |
| 31556  |    4    |
| 31557  |    4    |
| 31559  |    4    |
| 31560  |    4    |
| 31561  |    3    |
| 31567  |    3    |
| 31568  |    3    |
| 31569  |    3    |
| 31570  |    3    |
| 31573  |    4    |
| 31574  |    4    |
| 31575  |    4    |
| 31576  |    4    |
| 31577  |    4    |
| 31578  |    4    |
| 31579  |    6    |
| 31600  |    3    |
| 31601  |    4    |
| 31613  |    4    |
| 31614  |    4    |
| 31615  |    4    |
| 31616  |    4    |
| 31617  |    4    |
| 31618  |    4    |
| 31623  |    4    |
| 31624  |    4    |
| 31625  |    4    |
| 31626  |    4    |
| 31627  |    4    |
| 31628  |    4    |
| 31629  |    4    |
| 31630  |    4    |
| 31631  |    6    |
| 31632  |    6    |
| 31633  |    6    |
| 31634  |    3    |
| 31635  |    3    |
| 31637  |    4    |
| 31638  |    4    |
| 31639  |    4    |
| 31640  |    4    |
| 31642  |    3    |
| 31646  |    4    |
| 31647  |    4    |
| 31648  |    4    |
| 31649  |    4    |
| 31650  |    4    |
| 31651  |    4    |
| 31652  |    4    |
| 31653  |    4    |
| 31654  |    4    |
| 31658  |    4    |
| 31659  |    4    |
| 31660  |    4    |
| 31661  |    4    |
| 31662  |    3    |
| 31675  |    4    |
| 31676  |    4    |
| 31677  |    4    |
| 31678  |    3    |
| 31679  |    3    |
| 31683  |    4    |
| 31684  |    4    |
| 31686  |    4    |
| 31687  |    4    |
| 31695  |    4    |
| 31696  |    4    |
| 31697  |    4    |
| 31698  |    4    |
| 31699  |    3    |
| 31701  |    4    |
| 31702  |    3    |
| 31703  |    3    |
| 31704  |    3    |
| 31705  |    3    |
| 31706  |    3    |
| 31707  |    3    |
| 31708  |    3    |
| 31709  |    3    |
| 31710  |    3    |
| 31711  |    3    |
| 31712  |    3    |
| 31714  |    6    |
| 31716  |    6    |
| 31717  |    6    |
| 31733  |    3    |
| 31734  |    3    |
| 31735  |    4    |
| 31736  |    4    |
| 31737  |    3    |
| 31738  |    3    |
| 31739  |    3    |
| 31740  |    3    |
| 31741  |    3    |
| 31742  |    3    |
| 31756  |    3    |
| 31757  |    3    |
| 31758  |    3    |
| 31766  |    3    |
| 31768  |    3    |
| 31769  |    3    |
| 31770  |    3    |
| 31771  |    3    |
| 31772  |    3    |
| 31773  |    3    |
| 31774  |    6    |
| 31776  |    4    |
| 31777  |    4    |
| 31778  |    3    |
| 31779  |    4    |
| 31780  |    4    |
| 31781  |    6    |
| 31782  |    6    |
| 31783  |    6    |
| 31784  |    3    |
| 31790  |    3    |
| 31802  |    4    |
| 31810  |    6    |
| 31811  |    6    |
| 31816  |    4    |
| 31817  |    4    |
| 31818  |    4    |
| 31819  |    3    |
| 31820  |    6    |
| 31821  |    6    |
| 31825  |    4    |
| 31826  |    4    |
| 31827  |    4    |
| 31828  |    6    |
| 31829  |    6    |
| 31833  |    3    |
| 31834  |    4    |
| 31843  |    4    |
| 31844  |    4    |
| 31845  |    3    |
| 31846  |    3    |
| 31847  |    3    |
| 31848  |    3    |
| 31850  |    4    |
| 31853  |    6    |
| 31854  |    6    |
| 31855  |    6    |
| 31856  |    3    |
| 31857  |    3    |
| 31860  |    3    |
| 31861  |    3    |
| 31862  |    6    |
| 31863  |    3    |
| 31864  |    3    |
| 31865  |    3    |
| 31866  |    3    |
| 31867  |    4    |
| 31868  |    4    |
| 31869  |    4    |
| 31870  |    4    |
| 31875  |    3    |
| 31876  |    3    |
| 31877  |    6    |
| 31891  |    3    |
| 31892  |    3    |
| 31893  |    3    |
| 31894  |    3    |
| 31895  |    4    |
| 31896  |    4    |
| 31897  |    4    |
| 31898  |    4    |
| 31904  |    4    |
| 31905  |    4    |
| 31906  |    4    |
| 31907  |    3    |
| 31908  |    3    |
| 31909  |    4    |
| 31910  |    4    |
| 31913  |    4    |
| 31914  |    4    |
| 31915  |    4    |
| 31916  |    4    |
| 31917  |    4    |
| 31918  |    3    |
| 31923  |    4    |
| 31924  |    3    |
| 31925  |    3    |
| 31926  |    3    |
| 31930  |    3    |
| 31931  |    3    |
| 31948  |    4    |
| 31949  |    4    |
| 31950  |    4    |
| 31960  |    4    |
| 31962  |    3    |
| 31963  |    3    |
| 31964  |    3    |
| 31966  |    3    |
| 31967  |    3    |
| 31968  |    3    |
| 31977  |    4    |
| 31978  |    4    |
| 31979  |    4    |
| 31985  |    4    |
| 31989  |    6    |
| 31990  |    6    |
| 31999  |    3    |
| 32004  |    4    |
| 32005  |    4    |
| 32006  |    4    |
| 32007  |    4    |
| 32012  |    3    |
| 32017  |    6    |
| 32018  |    3    |
| 32019  |    3    |
| 32020  |    4    |
| 32029  |    3    |
| 32030  |    3    |
| 32031  |    3    |
| 32032  |    3    |
| 32033  |    3    |
| 32034  |    3    |
| 32035  |    3    |
| 32039  |    3    |
| 32040  |    3    |
| 32041  |    3    |
| 32042  |    3    |
| 32043  |    3    |
| 32044  |    3    |
| 32050  |    3    |
| 32051  |    6    |
| 32055  |    4    |
| 32057  |    6    |
| 32074  |    3    |
| 32075  |    3    |
| 32076  |    3    |
| 32077  |    3    |
| 32090  |    3    |
| 32091  |    3    |
| 32097  |    3    |
| 32098  |    3    |
| 32099  |    4    |
| 32101  |    3    |
| 32113  |    4    |
| 32114  |    4    |
| 32115  |    4    |
| 32116  |    4    |
| 32117  |    4    |
| 32118  |    4    |
| 32121  |    3    |
| 32122  |    3    |
| 32136  |    4    |
| 32137  |    4    |
| 32138  |    4    |
| 32139  |    6    |
| 32140  |    6    |
| 32141  |    6    |
| 32142  |    6    |
| 32150  |    4    |
| 32151  |    4    |
| 32152  |    4    |
| 32153  |    4    |
| 32154  |    4    |
| 32157  |    3    |
| 32158  |    3    |
| 32164  |    4    |
| 32166  |    4    |
| 32167  |    4    |
| 32169  |    4    |
| 32170  |    4    |
| 32175  |    4    |
| 32176  |    4    |
| 32177  |    4    |
| 32179  |    3    |
| 32180  |    3    |
| 32182  |    6    |
| 32183  |    3    |
| 32185  |    3    |
| 32188  |    3    |
| 32189  |    3    |
| 32190  |    3    |
| 32191  |    3    |
| 32192  |    3    |
| 32193  |    4    |
| 32194  |    3    |
| 32199  |    3    |
| 32200  |    6    |
| 32201  |    6    |
| 32202  |    6    |
| 32203  |    4    |
| 32204  |    4    |
| 32205  |    4    |
| 32215  |    3    |
| 32216  |    3    |
| 32218  |    4    |
| 32219  |    4    |
| 32220  |    4    |
| 32221  |    4    |
| 32222  |    4    |
| 32223  |    4    |
| 32229  |    4    |
| 32230  |    4    |
| 32231  |    4    |
| 32232  |    4    |
| 32233  |    4    |
| 32237  |    3    |
| 32240  |    3    |
| 32241  |    3    |
| 32242  |    3    |
| 32244  |    4    |
| 32245  |    4    |
| 32246  |    4    |
| 32247  |    4    |
| 32248  |    4    |
| 32249  |    4    |
| 32257  |    3    |
| 32259  |    3    |
| 32261  |    4    |
| 32262  |    4    |
| 32263  |    4    |
| 32264  |    4    |
| 32265  |    4    |
| 32266  |    4    |
| 32267  |    4    |
| 32268  |    4    |
| 32269  |    4    |
| 32270  |    4    |
| 32271  |    4    |
| 32272  |    4    |
| 32274  |    3    |
| 32277  |    4    |
| 32284  |    4    |
| 32288  |    4    |
| 32298  |    4    |
| 32299  |    4    |
| 32300  |    4    |
| 32306  |    3    |
| 32307  |    3    |
| 32310  |    3    |
| 32311  |    3    |
| 32312  |    6    |
| 32313  |    4    |
| 32314  |    4    |
| 32315  |    4    |
| 32316  |    4    |
| 32320  |    4    |
| 32321  |    6    |
| 32334  |    6    |
| 32338  |    4    |
| 32339  |    4    |
| 32340  |    3    |
| 32341  |    3    |
| 32343  |    3    |
| 32344  |    3    |
| 32345  |    3    |
| 32346  |    3    |
| 32347  |    4    |
| 32348  |    4    |
| 32349  |    4    |
| 32350  |    4    |
| 32351  |    4    |
| 32352  |    4    |
| 32353  |    4    |
| 32354  |    3    |
| 32355  |    3    |
| 32356  |    4    |
| 32357  |    4    |
| 32364  |    3    |
| 32366  |    4    |
| 32367  |    6    |
| 32369  |    4    |
| 32374  |    3    |
| 32375  |    3    |
| 32376  |    3    |
| 32377  |    3    |
| 32378  |    3    |
| 32388  |    3    |
| 32389  |    3    |
| 32394  |    6    |
| 32395  |    3    |
| 32396  |    3    |
| 32397  |    3    |
| 32398  |    3    |
| 32399  |    4    |
| 32400  |    4    |
| 32402  |    4    |
| 32403  |    4    |
| 32404  |    4    |
| 32405  |    4    |
| 32406  |    4    |
| 32407  |    4    |
| 32408  |    4    |
| 32409  |    4    |
| 32413  |    3    |
| 32430  |    4    |
| 32431  |    4    |
| 32438  |    6    |
| 32439  |    6    |
| 32440  |    6    |
| 32441  |    6    |
| 32442  |    6    |
| 32455  |    6    |
| 32459  |    4    |
| 32460  |    4    |
| 32461  |    4    |
| 32463  |    3    |
| 32464  |    4    |
| 32465  |    4    |
| 32466  |    4    |
| 32467  |    4    |
| 32469  |    6    |
| 32471  |    4    |
| 32473  |    6    |
| 32476  |    4    |
| 32481  |    3    |
| 32482  |    3    |
| 32483  |    3    |
| 32484  |    3    |
| 32485  |    6    |
| 32486  |    6    |
| 32487  |    6    |
| 32488  |    6    |
| 32489  |    6    |
| 32494  |    4    |
| 32495  |    4    |
| 32496  |    4    |
| 32503  |    4    |
| 32504  |    4    |
| 32505  |    4    |
| 32506  |    4    |
| 32507  |    4    |
| 32508  |    4    |
| 32509  |    4    |
| 32510  |    4    |
| 32511  |    4    |
| 32512  |    4    |
| 32513  |    4    |
| 32514  |    4    |
| 32515  |    4    |
| 32516  |    4    |
| 32517  |    6    |
| 32518  |    6    |
| 32519  |    4    |
| 32520  |    4    |
| 32521  |    4    |
| 32522  |    4    |
| 32523  |    4    |
| 32524  |    4    |
| 32525  |    6    |
| 32526  |    6    |
| 32527  |    6    |
| 32535  |    3    |
| 32536  |    3    |
| 32537  |    3    |
| 32538  |    4    |
| 32539  |    4    |
| 32540  |    4    |
| 32545  |    4    |
| 32546  |    4    |
| 32547  |    4    |
| 32548  |    4    |
| 32562  |    3    |
| 32563  |    6    |
| 32564  |    6    |
| 32567  |    3    |
| 32568  |    3    |
| 32569  |    3    |
| 32574  |    4    |
| 32583  |    4    |
| 32584  |    4    |
| 32585  |    4    |
| 32586  |    4    |
| 32587  |    3    |
| 32588  |    3    |
| 32589  |    3    |
| 32590  |    3    |
| 32591  |    3    |
| 32596  |    3    |
| 32602  |    4    |
| 32611  |    6    |
| 32612  |    6    |
| 32613  |    6    |
| 32614  |    4    |
| 32622  |    3    |
| 32623  |    4    |
| 32625  |    3    |
| 32626  |    3    |
| 32629  |    3    |
| 32630  |    3    |
| 32631  |    6    |
| 32633  |    6    |
| 32634  |    4    |
| 32635  |    4    |
| 32636  |    4    |
| 32649  |    3    |
| 32650  |    3    |
| 32651  |    3    |
| 32652  |    4    |
| 32653  |    4    |
| 32656  |    6    |
| 32657  |    4    |
| 32658  |    4    |
| 32659  |    4    |
| 32693  |    4    |
| 32694  |    4    |
| 32695  |    4    |
| 32696  |    4    |
| 32701  |    4    |
| 32702  |    4    |
| 32703  |    4    |
| 32704  |    4    |
| 32705  |    4    |
| 32708  |    4    |
| 32709  |    4    |
| 32710  |    4    |
| 32713  |    4    |
| 32714  |    4    |
| 32715  |    4    |
| 32731  |    3    |
| 32738  |    3    |
| 32741  |    3    |
| 32742  |    3    |
| 32743  |    3    |
| 32744  |    3    |
| 32745  |    4    |
| 32746  |    6    |
| 32757  |    3    |
| 32761  |    4    |
| 32765  |    3    |
| 32766  |    3    |
| 32767  |    3    |
| 32768  |    4    |
| 32769  |    6    |
| 32770  |    4    |
| 32773  |    4    |
| 32776  |    3    |
| 32777  |    3    |
| 32778  |    3    |
| 32781  |    3    |
| 32782  |    4    |
| 32783  |    6    |
| 32784  |    6    |
| 32785  |    6    |
| 32786  |    4    |
| 32787  |    4    |
| 32788  |    4    |
| 32789  |    4    |
| 32795  |    3    |
| 32799  |    6    |
| 32800  |    6    |
| 32801  |    6    |
| 32802  |    6    |
| 32803  |    4    |
| 32806  |    6    |
| 32809  |    3    |
| 32810  |    3    |
| 32811  |    3    |
| 32812  |    4    |
| 32814  |    3    |
| 32815  |    3    |
| 32816  |    3    |
| 32817  |    3    |
| 32827  |    3    |
| 32830  |    4    |
| 32840  |    3    |
| 32841  |    3    |
| 32846  |    4    |
| 32847  |    4    |
| 32848  |    3    |
| 32853  |    4    |
| 32854  |    4    |
| 32855  |    3    |
| 32856  |    3    |
| 32857  |    3    |
| 32858  |    3    |
| 32859  |    4    |
| 32860  |    4    |
| 32862  |    3    |
| 32865  |    6    |
| 32867  |    6    |
| 32868  |    6    |
| 32869  |    6    |
| 32870  |    6    |
| 32875  |    4    |
| 32876  |    4    |
| 32877  |    4    |
| 32878  |    4    |
| 32879  |    4    |
| 32880  |    4    |
| 32881  |    4    |
| 32882  |    4    |
| 32883  |    4    |
| 32884  |    4    |
| 32885  |    4    |
| 32890  |    6    |
| 32893  |    4    |

Let create a clean location table, that has no dupplicates

In [85]:
%%sql
CREATE TABLE location_clean AS
SELECT
    MIN(location_id) AS location_id,
    city,
    state,
    country
FROM location
GROUP BY city, state, country;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

3812 rows affected.

++
||
++
++

In [88]:
%%sql
TRUNCATE TABLE fact_sales;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

++
||
++
++

In [89]:
%%sql
INSERT INTO fact_sales (
    order_id,
    customer_id,
    product_id,
    location_id,
    order_date_id,
    ship_date_id,
    ship_mode_id,
    sales,
    quantity,
    discount,
    profit,
    shipping_cost,
    order_priority
)
SELECT
    ss.Order_ID,
    ss.Customer_ID,
    ss.Product_ID,
    lc.location_id,
    ss.Order_Date,
    ss.Ship_Date,
    sh.ship_mode_id,
    ss.Sales,
    ss.Quantity,
    ss.Discount,
    ss.Profit,
    ss.Shipping_Cost,
    ss.Order_Priority
FROM superstore ss
JOIN customer c
    ON ss.Customer_ID = c.customer_id
JOIN product p
    ON ss.Product_ID = p.product_id
JOIN location_clean lc
    ON ss.City = lc.city
   AND ss.Country = lc.country
   AND ss.State = lc.state --a fix was made on the location join
JOIN shipping sh
    ON ss.Ship_Mode = sh.ship_mode
JOIN date d
    ON ss.Order_Date = d.date_id
JOIN date dd
    ON ss.Ship_Date = dd.date_id;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

51290 rows affected.

++
||
++
++

In [90]:
%%sql
SELECT COUNT(*) FROM superstore;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

1 rows affected.

+----------+
| COUNT(*) |
+----------+
|  51290   |
+----------+

In [91]:
%%sql
SELECT COUNT(*) FROM fact_sales;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

1 rows affected.

+----------+
| COUNT(*) |
+----------+
|  51290   |
+----------+

now that we got count_superstore=count_fact_sales 
the issue has been solved there are no lost data and no duplicates in the fact_sales table

Let create a unique one table for location and delete other location tables that contained duplicates

In [93]:
%%sql
CREATE TABLE location_cleaned AS
SELECT
    MIN(location_id) AS location_id,  -- keeps one surrogate key per group
    city,
    state,
    country,
    MIN(postal_code) AS postal_code,  -- pick one postal code per location
    MIN(market) AS market,
    MIN(region) AS region
FROM location
GROUP BY city, state, country;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

3812 rows affected.

++
||
++
++

In [94]:
%%sql
SELECT city, state, country, COUNT(*)
FROM location_clean
GROUP BY city, state, country
HAVING COUNT(*) > 1;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

+------+-------+---------+----------+
| city | state | country | COUNT(*) |
+------+-------+---------+----------+
+------+-------+---------+----------+

In [97]:
%%sql
DROP TABLE location;

ALTER TABLE location_cleaned RENAME TO location;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

++
||
++
++

In [105]:
%%sql
TRUNCATE TABLE fact_sales;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

++
||
++
++

In [106]:
%%sql
INSERT INTO fact_sales (
    order_id,
    customer_id,
    product_id,
    location_id,
    order_date_id,
    ship_date_id,
    ship_mode_id,
    sales,
    quantity,
    discount,
    profit,
    shipping_cost,
    order_priority
)
SELECT
    ss.Order_ID,
    ss.Customer_ID,
    ss.Product_ID,
    l.location_id,
    ss.Order_Date,
    ss.Ship_Date,
    sh.ship_mode_id,
    ss.Sales,
    ss.Quantity,
    ss.Discount,
    ss.Profit,
    ss.Shipping_Cost,
    ss.Order_Priority
FROM superstore ss
JOIN customer c
    ON ss.Customer_ID = c.customer_id
JOIN product p
    ON ss.Product_ID = p.product_id
JOIN location l
    ON ss.City = l.city
   AND ss.Country = l.country
   AND ss.State = l.state --a fix was made on the location join
JOIN shipping sh
    ON ss.Ship_Mode = sh.ship_mode
JOIN date d
    ON ss.Order_Date = d.date_id
JOIN date dd
    ON ss.Ship_Date = dd.date_id;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

51290 rows affected.

++
||
++
++

In [107]:
%%sql
SELECT
COUNT(*)
FROM Superstore;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

1 rows affected.

+----------+
| COUNT(*) |
+----------+
|  51290   |
+----------+

In [108]:
%%sql
SELECT
COUNT(*)
FROM fact_sales;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

1 rows affected.

+----------+
| COUNT(*) |
+----------+
|  51290   |
+----------+

In [111]:
%%sql
SELECT ss.Row_ID, COUNT(*) AS matches
FROM superstore ss
JOIN location l
  ON ss.City = l.city
 AND ss.Country = l.country
 AND ss.State = l.state
GROUP BY ss.Row_ID
HAVING COUNT(*) > 1;
--this verifies if there are no duplicates remaining

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

+--------+---------+
| Row_ID | matches |
+--------+---------+
+--------+---------+

In [109]:
%%sql
DROP TABLE location_clean;

Running query in 'mysql+pymysql://root:***@localhost:3306/global_superstore'

++
||
++
++